<div class="container">
  <!-- Header area, maybe add photo of vehicle here -->
  <div class="jumbotron">
    <h1 class="display-3"> {{ car.year }} {{ car.make }} {{ car.model }} </h1>
    <p class="lead"> {{ car.description }} </p>
    <p class="float-right">
      ${{ car.value }}
      <a *ngIf="car.status"  class="btn btn-lg btn-success" role="button">Purchase</a>
    </p>
  </div>
  <!-- Area to display other fields -->
  <table class="table table-striped table-light">
    <!-- no need for thead -->
    <tbody>
      <tr>
        <th scope="row">Mileage</th>
        <th> {{ car.mileage }} </th>
      </tr>
      <tr>
        <th scope="row">Transmission</th>
        <th> {{ car.transmission }} </th>
      </tr>
      <tr>
        <th scope="row">Fuel</th>
        <th> {{ car.fuel }} </th>
      </tr>
      <tr>
        <th scope="row">Exterior Color</th>
        <th> {{ car.color }} </th>
      </tr>
    </tbody>
  </table>
</div>
