<div *ngIf="userLoginService.currUser.loggedIn" id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLink]="['/multi-car']">All Cars</a>
  <a [routerLink]="['/login']">Login</a>
  <a [routerLink]="['/my-cars']">My Cars</a>
  <a [routerLink]="['/transaction-history']">Transaction History</a>
</div>

<div id="main">
  <span *ngIf="userLoginService.currUser.loggedIn" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <span *ngIf="userLoginService.currUser.loggedIn" class="float-right greeting">Hello, User</span>
  <span>Car Sales</span>
</div>
