<div class="container">
  <h1 *ngIf="header == 1"  class="sub-header text-center">For Sale</h1>
  <h1 *ngIf="header == 2"  class="sub-header text-center">My Cars</h1>
  <div class="row card-group">
    <div class="col-4" *ngFor="let car of cars" >
      <div class="card my-2">
        <!-- put content from car here -->
        <img *ngIf="car.photoLink" class="card-img-top" src="{{ car.photoLink }}" alt="Card image cap">
        <h5 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> ${{ car.value }} </h6>
        <p class="card-text">{{ car.description }}</p>
        <a routerLink="/car/{{car.carId}}" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
</div>
